body {
  cursor: pointer;
  font-family: Zen Dots;
  background: #141E30;
  background: -webkit-linear-gradient(to bottom, #496b92, #0f182a);
  background: linear-gradient(to bottom, #243B55, #141E30);
}

.mhd {
  color: red;
  font-size: 36px;
  background: -webkit-linear-gradient(rgb(198, 255, 221), rgb(251, 215, 134), rgb(247, 121, 125));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#user_canvas {
  border: #4CAF50 solid 10px;
  background-color: white;

}

button {
  border: none;
  color: black;
  height: 30px;
  width: 300px;
  font-size: 16px;
  background: #fffc00;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #ffffff, #fffc00);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #ffffff, #fffc00);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

input {
  margin-right: 20px;
  width: 300px;
  height: 26px;
  font-size: 20px;
  font-family: Zen Dots;
}

.sp {
  font-size: 26px;
  background: -webkit-linear-gradient(rgb(198, 255, 221), rgb(251, 215, 134), rgb(247, 121, 125));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.bd{
  height: 100%;
  width: 100%;
  overflow: hidden;
}